@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(./fonts/Roboto-Bold.ttf);
}

body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  background-color: azure;
}

h1 {
  color: black;
  font-size: 3rem;
  font-family: Roboto-Bold;
  margin: 0;
  width: 100%;
}

.container {
  display: flex;
}

.options {
  width: 7rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.optionBtns {
  font-size: 0.8rem;
  width: 80%;
  font-family: inherit;
  padding: 0.4rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  background-color: white;
  outline: none;
  border: 1px solid black;
  border-radius: 0.2rem;
}

.optionBtns:hover {
  transform: scale(1.05);
}

.optionBtns:active {
  transform: scale(1);
  transition: transform 0.05s ease-in-out;
}

.grid {
  max-height: 25rem;
  background-color: white;
  max-width: 25rem;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.pixels {
  box-sizing: border-box;
  user-select: none;
}
